<h1> User Info </h1>
<hr>
<div class="row">
  <div class="col-4">
    <h3>Current User: {{userId()}}</h3>

    <button (click)="loadUser( userId() - 1 )" class="btn btn-outline-primary">Previous</button>
    -
    <button (click)="loadUser( userId() + 1 )" class="btn btn-outline-primary">Next</button>
  </div>

  <div class="col-8" *ngIf="currentUser()">
    <h3>Username</h3>
    <p>Email: <strong>{{ currentUser()!.email }}</strong></p>
    <p>Name: <strong>{{ fullName() }} </strong></p>

    <img [src]="currentUser()!.avatar" class="rounded" [alt]="currentUser()!.first_name">
  </div>

  <div class="col-8 text-danger" *ngIf="!userWasFound()">
    <h3>User not Found</h3>
  </div>
</div>
